affine
cartopy
fastapi
folium
geopandas
ipython
matplotlib
netcdf4
numpy
pandas
pyproj
pymannkendall
python-dateutil
rasterio
requests
ruptures==1.0.6
scipy
seaborn
shapely
streamlit
streamlit-folium
uvicorn
xarray
