affine
basemap
bayesian-changepoint-detection
beautifulsoup4
bokeh
cartopy
cartopy.crs
cartopy.mpl.gridliner
dask
dask[dataframe]
geopandas
gensim
keras
matplotlib
matplotlib.dates
matplotlib.font_manager
netCDF4
nltk
numpy
openpyxl
os
pandas
Pillow
plotly
rasterio
requests
rioxarray
ruptures
scikit-learn
scipy
scipy.interpolate
scipy.stats
seaborn
shapely.geometry
spacy
statsmodels
tensorflow
xarray
