affine
cartopy
folium
geopandas
matplotlib
netcdf4
numpy
pandas
pyproj
pymannkendall
python-dateutil
rasterio
requests
ruptures
scipy
seaborn
shapely
streamlit
streamlit-folium
xarray